---
layout: default
---

<div class="home">

	<ul class="post-list">
		{% for post in paginator.posts %}
		<li>
			<article>
				<header class="post-header">
					<div>
						<span>Posted on </span><span class="post-meta">{{ post.date | date: "%B %-d, %Y" }}</span>
					</div>

					<p class="byline">
						by {{ site.author }}
					</p>

					<h2>
						<a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
					</h2>
				</header>
				{% if post.image %}
					<div class="post-image" style="background-image: url('{{site.baseurl}}/assets/{{post.image}}')"></div>
				{% endif %}
				<div class="entry-content">
					{% if post.content contains '<!--more-->' %}
            {{ post.content | split:'<!--more-->' | first }}
          {% else %}
            {{ post.excerpt }}
          {% endif %}
          <p>
						<a href="{{ post.url | prepend: site.baseurl }}">read more</a>
          </p>
				</div>
			</article>
		</li>
		{% endfor %}
	</ul>

	{% if paginator.total_pages > 1 %}
		<div class="pagination">
		  {% if paginator.previous_page %}
		    <a class="previous" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">Prev</a>
		  {% else %}
		    <!-- <span class="previous">Prev</span> -->
		  {% endif %}

		  {% for page in (1..paginator.total_pages) %}
		    {% if page == paginator.page %}
		      {{ page }}
		    {% elsif page == 1 %}
		      <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
		    {% else %}
		      <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
		    {% endif %}
		  {% endfor %}

		  {% if paginator.next_page %}
		    <a class="next" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next</a>
		  {% else %}
		    <!-- <span class="next">Next</span> -->
		  {% endif %}
		</div>
	{% endif %}

</div>
