---
layout: default
---



<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
	<header class="post-header">
		<div>
			<span>Posted on </span><span class="post-meta">{{ page.date | date: "%B %-d, %Y" }}</span>
		</div>
		<p class="byline">
			by {{ site.author }}
		</p>

		<h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
	</header>
	{% if page.image %}
		<div class="post-image" style="background-image: url('{{site.baseurl}}/assets/{{page.image}}')"></div>
	{% endif %}
	<div class="entry-content" itemprop="articleBody">
		{{ content }}
	</div>
	<div id="post-nav">
		<div class="next">
			{% if page.next.url %}
			<a href="{{ site.baseurl }}{{ page.next.url }}">
				<span>Next entry</span>
				{{ page.next.title }}
			</a>
			{% endif %}
		</div>

		<div class="previous">
			{% if page.previous.url %}
			<a href="{{ site.baseurl }}{{ page.previous.url }}">
				<span>Previous entry</span>
				{{ page.previous.title }}
			</a>
			{% endif %}
		</div>
	</div>
</article>

<div id="disqus_thread"></div>
<script>

/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
/*
var disqus_config = function () {
this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};
*/
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = '//accidentally-awake.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
